* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*GENERAL STYLES*/

body {
	font-size: 1rem;
}

/*MAIN STYLES*/

section .cart-heading {
	width: 85%;
	margin: 2rem auto;
}

section .cart-heading p {
	font-weight: 500;
	color: #000;
	margin-bottom: .8rem;
}

section .cart-heading .next {
	font-size: small;
}

section .cart-heading div {
	display: flex;
	align-items: center;
	gap: 28rem;
}

section .cart {
	width: 95%;
	margin: auto;
	display: flex;
	align-items: flex-start;
	gap: 5rem;
}

.cart-product {
	display: flex;
	align-items: flex-start;
	gap: 1.3rem;
}

section .cart-product img {
	width: 119px;
	height: 120px;
	margin-bottom: 2.5rem;
}

.product-right-section {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.product-right-section .top {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 500;
}

.product-right-section .top span .cancel {
	font-size: 1.2rem;
}

.product-right-section .bottom {
	display: flex;
	align-items: center;
	gap: 9rem;
}

.product-right-section .bottom button {
	padding: .7rem;
	background: #fff;
	border: 1px solid #D0D5DD;
	filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
	width: 45px;
	text-align: center;
}

.product-right-section .bottom button:hover {
	background: #fcfcfc;
	transition: .5s;
}

.product-right-section .bottom button:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.product-right-section .bottom button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.product-right-section .bottom button:nth-child(2) {
	border-right: none;
	border-left: none;
	font-weight: bold;
	padding-top: .8rem;
}


.product-right-section .bottom h3 {
	font-size: 1.2rem;
}

section .cart-summary {
	border: 0.5px solid #495057;
	padding: .8rem;
	border-radius: 4px;
}

.cart-summary div {
	padding: 1rem 0;
	margin: 0 1rem;
	border-bottom: 1px solid rgba(24, 25, 31, 0.15);
	width: 420px;
	font-weight: 500;
}

.cart-summary div:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 0 1rem;
}

.cart-summary div:nth-child(3) {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 0 1rem;
}

.cart-summary button {
	padding: 1rem;
	font-size: medium;
	font-weight: 500;
	margin: 2rem auto;
	width: 95%;
	background: #5E60CE;
	color: #fff;
	border: none;
	border-radius: 10px;
	align-items: center;
}

.cart-summary .center {
	align-items: center;
}

@media screen and (min-width: 320px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small;
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	.cart-summary-title-1 {
		display: none;
	}

	.cart-summary-title-2 {
		margin-bottom: 1rem;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		width: 170%;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: .5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 26px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 250px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 350px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 28rem;
	}

	.cart-summary-title-1 {
		display: none;
	}

	.cart-summary-title-2 {
		font-weight: bolder;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 30px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .57rem;
		color: #000;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
		font-weight: bolder;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 270px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 410px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 310px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 450px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4.5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 360px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 500px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 7.5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 410px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 550px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		min-width: 250px;
		max-width: 700px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 600px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 30px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 510px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 660px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 550px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 750px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 0;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		flex-direction: column;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 22rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 630px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 830px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 12rem;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 350px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 900px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 12rem;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 400px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 950px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 13rem;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 440px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 1000px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 16rem;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
		gap: 0rem;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4.5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 440px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 1050px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 32%;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
		gap: 0rem;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4.5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 440px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 1200px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 32%;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
		gap: 0rem;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 110px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4.5rem;
	}

	.product-right-section .bottom button {
		padding: .5rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .59rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.1rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 510px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}

@media screen and (min-width: 1333px) {
	/*MAIN STYLES*/

	section .cart-heading {
		width: 90%;
		margin: 2rem auto;
	}

	section .cart-heading p {
		font-weight: 500;
		color: #000;
		margin-bottom: .8rem;
	}

	section .cart-heading .next {
		font-size: small; 
	}

	section .cart-heading div {
		display: flex;
		align-items: center;
		gap: 36%;
		margin-bottom: 1rem;
	}

	.cart-summary-title-2 {
		display: none;
	}

	.cart-summary-title-1 {
		display: inline;
	}

	section .cart {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		gap: 5rem;
	}

	.cart-product {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
	}

	section .cart-product img {
		width: 130px;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.product-right-section {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	.product-right-section .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
	}

	.product-right-section .top span .cancel {
		font-size: 1.1rem;
	}

	.product-right-section .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10rem;
	}

	.product-right-section .bottom button {
		padding: .6rem;
		background: #fff;
		border: 1px solid #D0D5DD;
		filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
		width: 40px;
		text-align: center;
	}

	.product-right-section .bottom button:hover {
		background: #fcfcfc;
		transition: .5s;
	}

	.product-right-section .bottom button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-right-section .bottom button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.product-right-section .bottom button:nth-child(2) {
		border-right: none;
		border-left: none;
		font-weight: bold;
		padding-top: .7rem;
	}


	.product-right-section .bottom h3 {
		font-size: 1.2rem;
	}

	section .cart-summary {
		border: 0.5px solid #495057;
		padding: .8rem;
		border-radius: 4px;
		width: 100%;
		margin-top: 2rem;
	}

	.cart-summary div {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 1px solid rgba(24, 25, 31, 0.15);
		width: 420px;
		font-weight: 500;
	}

	.cart-summary div:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary div:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 0 1rem;
	}

	.cart-summary button {
		padding: 1rem;
		font-size: medium;
		font-weight: 500;
		margin: 1rem auto;
		width: 95%;
		background: #5E60CE;
		color: #fff;
		border: none;
		border-radius: 10px;
		align-items: center;
	}

	.cart-summary .center {
		align-items: center;
	} 
}